@model string
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Net.Http
@using OnlineShop.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
    

}
    <div class="btn-group">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model">
            <i>Edit</i>
        </a>
        <a asp-action="Details" class="btn btn-success" asp-route-id="@Model"><i>Details</i></a>
        @if (userRole == "Admin")
        {
            <a asp-action="Locout" class="btn btn-danger" asp-route-id="@Model">
                <i>Delete</i>
            </a>
        }
        </div>
