body {
    background-image: url('c:\users\dell\source\repos\onlineshop\onlineshop\images\bg 1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
